/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--opacity: 1;

	--rgb-black: 1, 1, 1;

	--rgb-grey-800: 35, 35, 35;
	--rgb-grey-600: 51, 51, 51; /* background */
	--rgb-grey-400: 62, 61, 61; /* card background */
	--rgb-grey-200: 97, 97, 97;
	--rgb-grey-subtext: 138, 139, 141;

	--rgb-off-white: 226, 232, 240;
	--rgb-white: 255, 255, 255;

	--rgb-orange: 235, 91, 68;
	--rgb-green: 75, 209, 53;

	--rgb-black-github: 41, 41, 39;
	--rgb-blue-linkedin: 19, 110, 150;
	--rgb-red-email: 187, 49, 49;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.block {
	display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol[role='list'] {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background-color: rgba(var(--rgb-grey-600), var(--opacity));
	color: rgba(var(--rgb-off-white), var(--opacity, 1));
	font-family: 'Atkinson Hypereligible', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

.flex {
	display: flex;
}

[data-justi-align='sb-center'] {
	justify-content: space-between;
	align-items: center;
}

nav > ul > *:not(:last-child) {
	margin-inline-end: 3rem;
}
